.st-cards{
    float: left;
    display: block;
    width:100%;
    @extend .z-depth-1;
    
    
    .st-cards-header{
        float: left;
        display: block;
        width:100%;
        padding: 15px;
        
    }
    .st-cards-body{
        float:left;
        width:100%;
        display: block;
        
        img{
            width:100%;
        }
    }
    
    .st-cards-footer{
        float:left;
        width:100%;
        display: block;
        padding: 15px;
    }
}