/*.form-group{
    position: relative;
    float: left;
    display: block;
    margin-bottom: 22px;
    
    
    .float-label{
        position: absolute;
        z-index: 2;
        left:0;
        width: 100%;
        bottom:0;
        line-height: 28px;
        cursor: text;
        transition: 0.2s ease all;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        //opacity: 0.5;
        
        &:after{
            content: "";
            position: absolute;
            left:0;
            height: 2px;
            bottom:0;
            left: 45%;
            width: 10px;
            visibility: hidden;
            background:blueviolet;
            transition: 0.2s ease all;
        }
        
        &.active{
            font-size: 13px;
            line-height: 65px;
            color:blueviolet;
            opacity: 1;
                
            &:after{
                left:0;
                width: 100%;
                visibility: visible;
            }
        }
    }
    
    .form-control{
        position: relative;
        border:none;
        height:25px;
        z-index: 1;
        width:100%;
        font-size: 15px;
        padding-bottom: 5px;
        border-bottom:1px solid #ddd;
        
        &:focus{
            outline: 0;
            
            ~.float-label{
                font-size: 13px;
                line-height: 65px;
                color:blueviolet;
                opacity: 1;
                
                &:after{
                    left:0;
                    width: 100%;
                    visibility: visible;
                }
            }
        }
    }
}*/

.st-form-group{
    position: relative;
    width:100%;
    float: left;
    margin-top: 20px;
    
    &:first-child{
        margin-top:0;
    }
    
    label{
        float: left;
        width: 100%;
        margin-bottom: 4px;
    }
    
    .st-form-control{
        width:100%;
        height: 35px;
        outline:0;
        padding: 0 10px 0 10px;
        font-size:15px;
        border:1px solid color("default","darken-1");
        &::placeholder {
            color: color("default","darken-3");
        }
        
        &:focus{
            border:1px solid color("primary","primary");
        }
        
        &.input-error{
            &:focus{
                border:1px solid color("danger","danger");
            }
        }
        &.input-success{
            &:focus{
                border:1px solid color("success","success");
            }
        }
        
    }
    
    /*INPUT ADDON*/
    &.st-addon{
        
        .st-form-control{
            padding: 0 10px 0 50px;
            &:focus{
                border:1px solid color("primary","primary");
            }
        }
        
        i{
            position: absolute;
            bottom: 0;
            height: 35px;
            text-align: center;
            width: 40px;
            line-height: 35px;
            border-right: 1px solid color("default","darken-1");
            
            &.st-focused-icon{
                border-right: 1px solid color("primary","primary");
            }
        }
    }
    
    &.st-form-sm{
        
        .form-control{
            height: 30px;
            padding: 0 8px 0 8px;
            font-size: 14px;
        }
        
    }
    
    
    
    /*CHECKBOX*/
    .st-checkbox{
        float: left;
        margin-right: -14px;
        visibility: hidden;
        
    
        & + .st-checkbox-label{
            width:25px;
            height: 25px;
            display: block;
            cursor: pointer;
            border:2px solid color("default","darken-1");
        }
        
        @each $color_name, $color in $colors {
            @each $color_type, $color_value in $color {
                &.st-checkbox-#{$color_name}{
                    
                    & + .st-checkbox-label{
                        border:2px solid $color_value;
                    }
                }
            }
        }
    
        &.st-active-checkbox + .st-checkbox-label{
            background-color:#000;
            border:1px solid #000;
            
            &:before{
                content: '';
                display: inline-block;
                width: 8px;
                height: 15px;
                border-top: 2px solid transparent;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-left: 2px solid transparent;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                margin-top: 0px;
                position: absolute;
                left: 9px;
                top: 2px;
            }
        }
        

        @each $color_name, $color in $colors {
            @each $color_type, $color_value in $color {
                &.st-checkbox-#{$color_name}{
                    
                    &.st-active-checkbox + .st-checkbox-label{
                        background-color:$color_value;
                        border:2px solid $color_value;
                    }
                }
            }
        }        
        
        & ~ span{
            float: left;
            display: block;
            margin-top: 5px;
            margin-left: 10px;
        }
        
    }
    
    /*REDIO*/
    .st-radio{
        float: left;
        margin-right: -14px;
        visibility: hidden;
        
        
    
        & + .st-radio-label{
            width:25px;
            height: 25px;
            display: block;
            cursor: pointer;
            border-radius: 100%;
            border:2px solid #ccc;
        }
        
        @each $color_name, $color in $colors {
            @each $color_type, $color_value in $color {
                &.st-radio-#{$color_name}{
                    
                    & + .st-radio-label{
                        border:2px solid $color_value;
                    }
                }
            }
        }
        
        
        &.st-active-radio + .st-radio-label{
            background-color:#000;
            border:1px solid #000;
            
            &:before{
                content: '';
                display: inline-block;
                width: 8px;
                height: 15px;
                border-top: 2px solid transparent;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-left: 2px solid transparent;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                margin-top: 0px;
                position: absolute;
                left: 9px;
                top: 3px;
            }
        }
        
        @each $color_name, $color in $colors {
            @each $color_type, $color_value in $color {
                &.st-radio-#{$color_name}{
                    
                    &.st-active-radio + .st-radio-label{
                        background-color:$color_value;
                        border:2px solid $color_value;
                    }
                }
            }
        }        
        
        & ~ span{
            float: left;
            display: block;
            margin-top: 5px;
            margin-left: 10px;
        }
    }    
    
}