.st-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:1100;
    background-color: rgba(0,0,0,0.5);
    
    .st-popup-dilog{
        position: relative;
        width:30%;
        margin-left:auto;
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
        -webkit-animation-name: popup-fade-down;
                animation-name: popup-fade-down;
        -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
        margin-right:auto;
        display: block;
        
        .st-popup-content{
            float:left;
            width: 100%;
            display: block;
            background-color: #fff; 
            @extend .z-depth-4;
            
            .st-popup-header{
                float:left;
                display: block;
                width:100%;
                padding:15px;
                border-bottom:1px solid #ddd;
            }
            .st-popup-body{
                float:left;
                display: block;
                width:100%;
                padding:15px;
            }
            .st-popup-footer{
                float:left;
                display: block;
                width:100%;
                padding:15px;
                border-top:1px solid #ddd;
            }
            
        }
        
    }
    
    
}

.popup-fade-up{    
    .st-popup-dilog{
        opacity: 0 !important;
        -webkit-transform: translateY(-25px) !important;
                transform: translateY(-25px) !important;
        -webkit-animation-name: popup-fade-up !important;
                animation-name: popup-fade-up !important;
        -webkit-animation-duration: 0.3s !important;
                animation-duration: 0.3s !important;
    }
}


@-webkit-keyframes popup-fade-down { 
    0% {
        -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
        opacity: 0.8;
    }
    100% { 
        -webkit-transform: translateY(25px); 
                transform: translateY(25px);
        opacity: 1;
    }
}


@keyframes popup-fade-down { 
    0% {
        -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
        opacity: 0.8;
    }
    100% { 
        -webkit-transform: translateY(25px); 
                transform: translateY(25px);
        opacity: 1;
    }
}
@-webkit-keyframes popup-fade-up { 
    0% {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
        opacity: 1;
    }
    100% { 
        -webkit-transform: translateY(-25px); 
                transform: translateY(-25px);
        opacity: 0;
    }
}
@keyframes popup-fade-up { 
    0% {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
        opacity: 1;
    }
    100% { 
        -webkit-transform: translateY(-25px); 
                transform: translateY(-25px);
        opacity: 0;
    }
}