
.st-switch{
    float: left;
    display: block;
    border:1px solid #aaa;
    
    .st-switch-control{    
        opacity: 0;
        position: absolute;
    }
    
    span{
        display: block;
        float: left;
        padding:8px 8px;
        cursor: pointer;
        text-align: center;
        transition:0.2s ease-in-out;
        border-right:1px solid #aaa;
        
        &:last-child{
            border-right: none;
        }
        
        
        &.active{
            color:#fff;
            background-color: #aaa;
        }
        
        &:hover, &:focus{
            
        }
        
        
    }
}